.main {
  min-height: 80vh;
  padding: 4rem 0;
}

.title {
  line-height: 1.15;
  font-size: 3rem;
  a {
    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }
}
.description {
  margin: 2rem 0;
  line-height: 1.2;
  font-weight: bold;
  color: rgb(102, 180, 198);
}

.code {
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  max-width: 50rem;
  @media (max-width: 575px) {
    width: 100%;
  }
}

.card {
  color: inherit;
  transition: color 0.15s ease, border-color 0.15s ease;
  &:hover,
  &:focus,
  &:active {
    color: #0070f3;
    border-color: #0070f3;
  }
  p {
    line-height: 1.5;
  }
  img {
    height: 18rem;
  }
}
